{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}



{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemple de Tableau</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<h1 style="text-align: center;">Utilisateur</h1>

<a href="{{path('ajout_user')}}" type="button" class="btn btn-primary">
			Ajouter
		</a>
<table>
    <thead>
        <tr>
            <th>Nom utilisateur</th>
            <th>Rôles</th>
        </tr>
    </thead>
    <tbody>
        {% for user in listeUser %}
        <tr>
            <td>{{user.username}}</td>
            <td>{{ user.roles|join(', ') }}</td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
{% endblock %}
