<div class="menu">
	<ul>
		<li><a class="" href="/produit">Produit</a></li>
		<li><a class="" href="/">Stock</a></li>
		<li><a class="" href="/client">Client</a></li>
		<li><a class="" href="/fournisseur">Fournisseur</a></li>
	</ul>
</div>
