
<nav class="menu">
    <ul>
        {% for item in items %}
            <li class="{{ item.route == activeRoute ? 'active' : '' }}">
                <a href="{{ path(item.route) }}">
                    <i class="{{ item.icon }}"></i> <!-- Icône ici -->
                    {{ item.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
